<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公司介绍</title>
	<link rel="icon" type="image/x-icon" href="../static/images/icon.png">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/public.css">
</head>
<body>
	<div class="top">
		<div class="logo"><a href=""></a></div>
		<div class="nav">
			<ul>
				<li><a href="/index">公司首页</a></li>
				<li><a href="/article">关于毓荣</a></li>
				<li><a href="/list">产品中心</a></li>
				<li><a href="/contact">联系我们</a></li>
				<li><a href="/recruitment">招聘信息</a></li>
				<li><a href="/form">在线留言</a></li>
			</ul>
		</div>
	</div>
	<div id="banner">
	</div>
	<div class="list_main" id="list_main">
		<div class="list_left">
			<p class="classify">全部分类</p>
			<ul>
				<li><a href="/article">公司介绍</a></li>
				<li><a href="/recruitment">招聘信息</a></li>
				<li><a href="/form">在线留言</a></li>
			</ul>
			<div class="article_left">
				<img src="../static/images/article_ico3.jpg" alt="">
				<span>联系我们</span>
				<div class="clear"></div>
				<img src="../static/images/article_img1.jpg" alt="" class="article_img">
				<em>
					<img src="../static/images/article_ico2.png" alt="">
					<small>电话：021-59865223  </small>
				</em>
				<em>
					<img src="../static/images/article_ico1.jpg" alt="">
					<small>邮箱：DavidDai_yr@aliyun.com</small>
				</em>
			</div>
		</div>
		<div class="list_right">
			<div class="list_rightt">
				<p>公司介绍</p>
				<em>
					<img src="../static/images/list_ico4.png" alt="">
					<span>您当前的位置：<small><a href="/index">首页</a>>公司介绍</small></span>
				</em>
			</div>
			<div class="article_main">
				<strong>上海毓荣实业发展有限公司</strong>
				
				<center><img src="../static/images/article_img2.jpg" alt=""></center>
				<p>
				毓荣实业成立于2014年，是一家专业承接SMT治工具的设计与开发的公司。公司主要经营业务为SMT行业内的全程治具、波峰焊治具、切割治具以及测量治具的设计与开发，并涵盖相关的各类耗材的销售。公司以“品质第一，诚信经营，开拓创新”为核心价值,希望通过我们的专业水平和不懈努力,将毓荣实业不断的发展壮大。
				三年来,毓荣一直秉承以用户需求为核心,在专注治工具设计与开发的同时,也为不同客户提供专业的技术服务。以优质、用心的服务赢得了众多企业的信赖和好评,在上海市逐渐树立起公司良好品牌。公司同时还建立了完善的售后服务体系,为企业在使用过程中遇到的问题和困难提供帮助。我们相信,通过我们的不断努力和追求,一定能够实现与各企业的互利共赢!
				</p>
			</div>
		</div>
	</div>
	<div class="footbg">
		<div class="foot">
			<div class="code">
				<img src="../static/images/code.jpg" alt="">
			</div>
			<div class="foot_m">
				<p>单位地址：上海市青浦区清河湾路980号</p>
				<p>Copyright @ 2017 yoorong.cc  沪ICP备17035212号　版权所有· 上海毓荣实业发展有限公司</p>
			</div>
			<div class="tel">
				<p>毓荣服务热线：<span>周一至周日09：00-18:00</span></p>
				<em><img src="../static/images/foot_ico.png" alt=""><small>021-59865223</small></em>
			</div>
		</div>
	</div>	
</body>
</html>
<script type="text/javascript" src="../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../static/js/photoMove.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/ajax.js"></script>