<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海毓荣实业发展有限公司</title>
	<link rel="icon" type="image/x-icon" href="../static/images/icon.png">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/public.css">
</head>
<body>
	<div id="header" class="top">
		<div class="logo"><a href=""></a></div>
		<div class="nav">
			<ul>
				<li><a href="/index">公司首页</a></li>
				<li><a href="/article">关于毓荣</a></li>
				<li><a href="/list">产品中心</a></li>
				<li><a href="/contact">联系我们</a></li>
				<li><a href="/recruitment">招聘信息</a></li>
				<li><a href="/form">在线留言</a></li>
			</ul>
		</div>
	</div>
	<div id="banner">
	</div>
	<div id="main">
		<div class="about">
			<div class="main_top">
				<p>走进毓荣</p>
				<em>ABOUT　US</em>
				<span>创造更好的产品　力求更好的服务</span>
			</div>
			<div class="about_m">
				<div class="about_mm">
					<p>上海毓荣实业发展有限公司</p>
					<span>
					毓荣实业成立于2014年，是一家专业承接SMT治工具的设计与开发的公司。公司主要经营业务为SMT行业内的全程治具、波峰焊治具、切割治具以及测量治具的设计与开发，并涵盖相关的各类耗材的销售。公司以“品质第一，诚信经营，开拓创新”为核心价值,希望通过我们的专业水平和不懈努力,将毓荣实业不断的发展壮大。
					三年来,毓荣一直秉承以用户需求为核心,在专注治工具设计与开发的同时,也为不同客户提供专业的技术服务。以优质、用心的服务赢得了众多企业的信赖和好评,在上海市逐渐树立起公司良好品牌。公司同时还建立了完善的售后服务体系,为企业在使用过程中遇到的问题和困难提供帮助。我们相信,通过我们的不断努力和追求,一定能够实现与各企业的互利共赢!      
					</span>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="main_top">
				<p>产品中心</p>
				<em>PRODUCT　CENTER</em>
			</div>
			<div class="product_main">
				<div class="product_t">
					<div class="search_container">
						<input type="text" id="search">
						<button>搜索</button>
						<div class="clear"></div>
						<ul id="suggestion" class="suggestion">						
						</ul>
					</div>
					
					<div class="category_container">
						<span>产品种类</span>
						<ul id="category"></ul>
					</div>					
				</div>
				<ul class="product_m">
				<div class="product_img">
					<a  href="/productdetails?id=62#list_main"><div class="enlarge"><img src="../static/images/product_img1.jpg" alt="" /></div>
					<!-- <p>主板功能测试治具</p> -->
					<em>
						<!-- <span>乐泰3611红胶是一种单一组分应用于网板印刷，受热后迅速固化的环氧树脂胶粘剂，其“剪切稀化”粘度特性和无挥发性适合应用于孔版印刷(刮胶)或SMT贴片机点胶，胶点形状非常容易控制，耐热性极好，同时无任何溶剂，完全符合环保要求</span> -->
						<!-- <img src="../static/images/product_ico2.png" alt=""> -->
					</em>
					</a>
				</div>
				<div class="product_img">
					<a  href="/productdetails?id=61#list_main"><div class="enlarge"><img src="../static/images/product_img2.jpg" alt="" /></div>
					<p>SMT贴片过炉载具</p>
					<em>
						<span>SMT锡膏印刷+SMT贴片机贴片+SMT回流焊过锡炉一体化使用</span>
						<img src="../static/images/product_ico2.png" alt="">
					</em>
					</a>
				</div>
				<div class="clear"></div>
				<div class="product_pic">
					<a href="/productdetails?id=55#list_main"><div class="enlarge_small"><img src="../static/images/product_pic1.jpg" alt="" /></div>
					<p>波峰焊过炉治具</p>
					<span>产品采用耐高温合成石 FR4板制作。 具有很好的隔热效果，可用于锡浆印刷；SMT贴片；回流焊；波峰焊； 共形涂敷；机械；设备；零件；挡温隔热等。</span>
					</a>
				</div>
				<div class="product_pic product_pic2">
					<a><!-- <div class="enlarge_small"><img src="../static/images/product_pic4.jpg" alt="" /></div> -->
					<div class="white">
						<img src="../static/images/product_ico3.png  " alt="">
						<p>波峰焊过锡炉托盘载具夹具</p>
						<span>产品名称：主板波峰焊过炉治具、波峰焊过炉夹具、波峰焊过炉载具</br> 产品关键词：波峰焊治具、波峰焊夹具、波峰焊载具、波峰焊托盘</br> 治具材料：合成石材料</span>
						
					</div>
					</a>
				</div>
				<div class="product_pic product_pic3">
					<a href="/productdetails?id=58#list_main"><div class="enlarge_small"><img src="../static/images/product_pic2.jpg" alt="" /></div>
					<p>合成石治具</p>
					<span>产品采用耐高温合成石 FR4板制作。 具有很好的隔热效果，可用于锡浆印刷；SMT贴片；回流焊；波峰焊等</span>
					</a>
				</div>
				<div class="product_pic product_pic4">
					<a href="/productdetails?id=59#list_main"><div class="enlarge_small"><img src="../static/images/product_pic3.jpg" alt="" /></div>
					<p>慢走丝线切割治具</p>
					<span>采用优质不锈钢压制，用于线切割机床。可用于莱通机型、沙迪克机型、苏三光机型</span>
					</a>
				</div>
				</ul>
			</div>
		</div>
		<div class="contact">
			<div class="main_top">
				<p>联系我们</p>
				<em>CONTACT　US</em>
			</div>	
			<div class="contact_main">
				<div class="contact_l">
					<img src="../static/images/contact_bg.jpg" alt="">
				</div>
				<div class="contact_r">
					<p>客服热线</p>
					<span>021-59865223</span>
					<em>
						<img src="../static/images/contact_ico1.png" alt="">
						<small>DavidDai_yr@aliyun.com</small>
					</em>
					<div class="clear"></div>
					<em>
						<img src="../static/images/contact_ico2.png" alt="">
						<small>上海毓荣实业发展有限公司</small>
					</em>
					<div class="clear"></div>
					<em>
						<img src="../static/images/contact_ico3.png" alt="">
						<small>246835257</small>
					</em>
					<div class="clear"></div>
					<ul>
						<li><a href="/article" class="a_hover1"><strong>公司简介</strong></a></li>
						<li><a href="/list" class="a_hover2"><strong>产品中心</strong></a></li>
						<li><a href="/contact" class="a_hover3"><strong>联系我们</strong></a></li>
						<li><a href="/form" class="a_hover4"><strong>在线留言</strong></a></li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	
	<div id="footer" class="footbg">
		<div class="foot">
			<div class="code">
				<img src="../static/images/code.jpg" alt="">
			</div>
			<div class="foot_m">
				<p>单位地址：上海市青浦区清河湾路980号</p>
				<p>Copyright @ 2017 yoorong.cc  沪ICP备17035212号　版权所有· 上海毓荣实业发展有限公司</p>
			</div>
			<div class="tel">
				<p>毓荣服务热线：<span>周一至周日09：00-18:00</span></p>
				<em><img src="../static/images/foot_ico.png" alt=""><small>021-59865223</small></em>
			</div>
		</div>
	</div>
</body>
</html>
<!-- <script type="text/javascript" src="js/route.js"></script> -->
<script type="text/javascript" src="../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../static/js/photoMove.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/ajax.js"></script>
<script type="text/javascript">
	indexCategory($('#category'));
	$('.enlarge img').each(function(){
		$(this).hover(function(){
			$(this).stop().animate({"width": "550px","height": "395px","margin": "-25px 0 0 -25px"},1000)
		},function(){
			$(this).stop().animate({"width": "500px","height": "345px","margin": "0"},1000)
		})
	})
	$('.enlarge_small img').each(function(){
		$(this).hover(function(){
			$(this).stop().animate({"width": "300px","height": "466px","margin": "-25px 0 0 -25px"},1000)
		},function(){
			$(this).stop().animate({"width": "250px","height": "416px","margin": "0"},1000)
		})
	})
	search($('#search'),$('#suggestion'),$('.search_container'),$('button'))
</script>